*{
    background-color: rgb(226, 226, 226);
}
h1, h2{
    font-size: 20;
}
p, p ul li{
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    display: grid;
    grid-template-rows: auto;
}
.respuestas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rtas{
    border-radius: 2em;
    border-color: rgb(167, 84, 244);
}
.rtas:hover{
    background-color: rgba(137, 43, 226, 0.347);
    border-color: rgb(211, 172, 248);
}