*{
    
}
h1, h2{
    font-size: 20;
}
p, p ul li{
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    background-color: rgb(226, 226, 226);
    color: white;
    display: grid;
    grid-template-rows: auto;
}


.rtas{
    display: grid;
    grid-template-columns: repeat (2, 1fr) ;
    gap: 20px;
    border-radius: 2em;
    background-color: rgb(195, 134, 252);
    border-color: rgb(167, 84, 244);
}

.rtas:hover{
    color: black;
    background-color: rgba(137, 43, 226, 0.347);
    border-color: rgb(211, 172, 248);
}